<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top bg-dark">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("CrudOpMVC", "GetAllContacts", "Contact", new { area = "" }, new { @class = "navbar-brand display-1 text-white " })
                @Html.ActionLink("Professions", "GetAllProfession", "Profession", new { area = "" }, new { @class = "btn btn-light" })
                @Html.ActionLink("Contacts", "GetAllContacts", "Contact", new { area = "" }, new { @class = "btn btn-light" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        @*<footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>*@
    </div>

    <script src="~/Content/jquery.min.js"></script>
    <script src="~/Content/bootstrap.min.js"></script>

    <script src="~/Content/jquery.min.js"></script>
    <script src="~/Content/jquery-ui.min.js"></script>
    <script>

        
        $(document).ready(function () {
            $('#DOB').datepicker({
                dateFormat: "yy-mm-dd",
                changeMonth: true,
                changeYear: true,
                yearRange: '1980:2017',
                maxDate: '-5Y',
                //minDate: '-40Y',
                defaultDate: '1980-01-01',
                onSelect: function (date, datepicker) {
                    if (date != "") {
                        var DateChangeValue = document.getElementById('DOB');
                        $(DateChangeValue).attr('value', date);
                    }
                }
                });
        })
    </script>

    <script>
        function fileValidation() {
            const alertMessage = "Invalid file type!! \nOnly files with the following extension are allowed :  jpg jpeg png gif.";
            var baseUrl = document.location.origin;
            var DefaultImagePath = baseUrl + '/Upload/blank.jpg';

            var fileInput = document.getElementById('Image');

            var filePath = fileInput.value;

            // Allowing file type
            var allowedExtensions =
                /(\.jpg|\.jpeg|\.png|\.gif)$/i;

            if (!allowedExtensions.exec(filePath)) {

                alert(alertMessage);
                fileInput.value = null;
                var DefaultImage = document.getElementById('imagePreview');
                $(DefaultImage).attr('src', DefaultImagePath);
                return false;
            }
            else {
                // Image preview
                if (fileInput.files && fileInput.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        //document.getElementById(
                        //    'imagePreview').innerHTML =
                        //    '<img src="' + e.target.result
                        //    + '"/>';

                        var Preview = document.getElementById('imagePreview');
                        //var src = ($(Preview).attr('src') === e.target.result) ? e.target.result : e.target.result;
                        $(Preview).attr('src', e.target.result);
                    };

                    reader.readAsDataURL(fileInput.files[0]);
                }
            }
        }
    </script>

    @RenderSection("scripts", required: false)

</body>
</html>