@model CrudOPMVC.Models.ProfessionModel

<div class="form-group">
    @Html.LabelFor(model => model.Profession, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-5">
        @Html.EditorFor(model => model.Profession, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Profession, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.initialProfession)
    </div>
</div>
<br />
<div class="form-group">
    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-5">
        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
    </div>
</div>
<br />
