@model CrudOPMVC.Models.ProfessionModel

@{
    ViewBag.Title = "EditProfessionDetails";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br />
    <h2>Update Profession Details</h2>

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ProfessionID)

        @{Html.RenderPartial("_ProfessionPartialView", Model);}

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-outline-success" /> &nbsp;
                @Html.ActionLink("Show List", "GetAllProfession", "Profession", new { @class = "btn btn-outline-dark" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="color:darkred">
                @ViewBag.Message
            </div>
        </div>
    </div>

}

<script src="~/Content/jquery.min.js"></script>
<script src="~/Content/jquery.validate.min.js"></script>
<script src="~/Content/jquery.validate.unobtrusive.min.js"></script>


