@model CrudOPMVC.Models.ContactModel

@{
    ViewBag.Title = "EditContactDetails";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br />
    <h2>Edit Contact Details</h2>

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ContactID)

        @{Html.RenderPartial("_ContactPartialView", Model);}

        <div class="form-group">
            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-offset-2 col-md-3">
                    <input type="submit" value="Update" class="btn btn-outline-success" />
                    @Html.ActionLink("Go Contact List", "GetAllContacts", "Contact", new { @class = "btn btn-outline-info" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="color:darkred">
                @ViewBag.Message
            </div>
        </div>
    </div>
}

<script src="~/Content/jquery.min.js"></script>
<script src="~/Content/jquery.validate.min.js"></script>
<script src="~/Content/jquery.validate.unobtrusive.min.js"></script>



