@model IEnumerable<CrudOPMVC.Models.ContactModel>
@{
    ViewBag.Title = "GetAllContacts";
}

<hr />

<div class="form-group">
    <div class="row">
        <div class="col-md-10">
        </div>
        <div class="col-md-2">
            @Html.ActionLink("Add New Contacts", "AddContact", "Contact", new { @class = "btn btn-outline-info" })
        </div>
    </div>
</div>
<hr />

<table class="table table-bordered">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.SerialNo)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emailAddr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Profession)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>Manage</th>
    </tr>

    @foreach (var item in Model)
    {
        @Html.HiddenFor(model => item.ContactID)
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.SerialNo)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emailAddr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profession)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditContactDetails", new { id = item.ContactID }, new { @class = "btn btn-outline-info" }) &nbsp;
                @Html.ActionLink("Delete", "DeleteContact", new { id = item.ContactID }, new { onclick = "return confirm('Are sure wants to delete?');", @class = "btn btn-outline-danger" })
            </td>
        </tr>

    }

</table>


